body {
    font-family: 'Open Sans', sans-serif; /* Замените 'Roboto' на 'Open Sans' */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: radial-gradient(circle, #000000, #cfcfcf); /* Радиальный градиент от центра */;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 30px;
}

/*Оформление шапки*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Элементы по краям */
    padding: 10px; /* Добавим немного отступов для лучшего вида */
}

.search-container img {
    margin-right: 10px; /* Отступ между логотипом и заголовком */
}

.search-wrapper {
    display: flex;
    align-items: center;
}

#searchInput {
    width: 150px;
    height: 25px;
    margin-right: 5px;
}

/*Оформление меню*/
nav {
    background: radial-gradient(circle, #000000, #c6c6c6); /* Радиальный градиент от центра */
    padding: 0.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    font-size: 25px;
}

nav a:hover {
    background-color: #d9d9d9;
}

/*Оформление нижнего меню*/
footer {
    text-align: center;
    padding: 1em;
    background: radial-gradient(circle, #000000, #cfcfcf);
    color: #fff;
}

/* Оформление основного блока*/
main {
    padding: 1em;
    margin: 0 auto;
    max-width: 2000px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Оформление основного текста */
.entry {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #eee;
    text-indent: 50px;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.entry h2 {
    margin-top: 0;
}

 /* Общий стиль для кнопок */
 .page-button {
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
}

.page-button:hover {
    background-color: #3e8e41;
}


/* Оформление кнопок "Назад"*/
.button-container {
    display: flex;             /* Включаем flexbox */
    justify-content: space-between;   /* Кнопки по краям */
    align-items: center;       /* Выравниваем элементы по центру вертикально */
    margin-top: 20px;
}
            
.back-button {
    padding: 10px 15px;
    background-color: #565656;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100px;
    /* Убираем правый отступ, он больше не нужен */
    /* margin-right: 5px; */
}
            
.back-button:hover {
    background-color: #565656;
}
            
.back-button1 {
    padding: 5px 10px;
    background-color: #565656;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100px;
/* Убираем левый отступ, он больше не нужен */
/* margin-left: 5px; */
}
            
.back-button1:hover {
    background-color: #565656;
}

/* Оформление кнопки "Поиск"*/
button {
    background-color: #565656; /* Зеленый цвет */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

/* Стили для кнопок */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.button-primary {
  background-color: #565656;
  color: white;
}

.button-primary:hover {
  background-color: #367C39;
}

/*Оформление картинок*/
.image-text-container {
    display: flex;          
    align-items: center;   
    
}

.image-text-container img {
    margin-right: 350px;    
}

.center-image {
    text-align: center;
}

.center-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/*Оформление видео*/
.video-container {
    position: relative;
    width: 100%;       
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;   
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}